* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}

#gameboard {
    max-width: 450px;
    max-height: 450px;
    width: 50vw;
    height: 50vw;
    margin: 10px auto 0;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2px;
    outline: 2px solid #555;
}

.board-cell {
    outline: 3px solid #555;
    text-align: center;
    color: white;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}

.board-cell:hover {
    background-color: #333;
}

.o-cell {
    color: rgb(255, 177, 177);
    font-weight: bold;
}

.x-cell {
    color: rgb(171, 171, 255);
    font-weight: bold;
}

#player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px;
    height: 100px;
}

#player-container .player h2 {
    font-size: 1.5rem;
}

.player {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #eee;
}

.btn:active {
    transform: scale(0.96);
}

.btn:hover {
    background-color: #ddd;
}

.btn img {
    width: 20px;
}

.name-prompt {
    display: flex;
    align-items: center;
    gap: 5px;
}

.name-prompt input {
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #eee;
    padding: 5px 10px;
    outline: none;
}

.name-prompt .btn {
    width: 40px;
}

.hide-name {
    display: none;
}

#game-declaration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 95px;
}

#announcer {
    font-size: 1.2rem;
}

#start-btn {
    width: 100px;
}

@media (max-width: 750px) {
    .board-cell {
        font-size: 3.5rem;
    }
}

@media (max-width: 600px) {
    .board-cell {
        font-size: 2.5rem;
    }
}
